<?xml version="1.0"?>

  <launch>
    <!-- Define parameters -->
    <arg name="debug" default="false" />
    <arg name="use_gui" default="false" />

    <!-- Launch Gazebo with world and Rviz with MoveIt -->
    <include file="$(find hector_quadrotor_demo)/launch/basicForest_zeroed_flying_hector_withLaser.launch"></include>

    <!-- Given the published joint states, publish tf for the robot links -->
    <!-- node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" / -->

    <!-- Launch trajectory controller, for following and executing a trajectory (what is launched with explore.launch in tahsinkose)-->
    <!--node name="action_controller" pkg="action_controller" type="action_controller" ></node -->

    <!-- The name of the parameter under which the URDF is loaded -->
    <arg name="robot_description" default="robot_description"/>

    <!-- We do not have a robot connected, so publish fake joint states -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <param name="use_gui" value="$(arg use_gui)"/>
      <param name="publish_frequency" type="double" value="50.0" />
      <rosparam param="source_list">[move_group/fake_controller_joint_states]</rosparam>
    </node>

    <!-- Run the main MoveIt! executable without trajectory execution (we do not have controllers configured by default) -->
    <include file="$(find hector_moveit_config)/launch/move_group.launch">
      <arg name="allow_trajectory_execution" value="true"/>
      <arg name="fake_execution" value="true"/>
      <arg name="info" value="true"/>
      <arg name="debug" value="$(arg debug)"/>
    </include>

    <!-- Run Rviz and load the default config to see the state of the move_group node -->
    <!--include file="$(find hector_moveit_config)/launch/moveit_rviz.launch">
      <arg name="config" value="true"/>
      <arg name="debug" value="$(arg debug)"/>
    </include-->

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find hector_moveit_config)/launch/moveit.rviz" output="screen"/>

  </launch>
